body{
background-color: #72FFFF;
text-align :center;
}
h1{
font-size :4rem;
}
h2{
font-size :3rem;
}
p{
font-size :2rem;
}

.first{
  background-color: #72FFFF;
  width: 100%;
}

.second{
  background-color: #00D7FF;
}
