body{
  text-align: center;
  background-color: #59CE8F;
}

h1{
  font-family: cursive;
  font-size: 3rem;
  color: #222;
  margin: 8px 0;
}

@media screen and (max-width : 768px) {
  h1 {
    font-size: 2rem;
  }
}

.links {
  list-style: none;
  background-color: white;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
  width: 98vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  width: 100%;
  padding : 15px 0;
  color: #333;
  font-weight: bold;
}

a:nth-child(even) {
  background-color: aquamarine;
}

a:hover {
  background-color: #94B49F;
  color: white;
}